html
  head
    title MB-input
  body
    link(rel="stylesheet",type="text/css",href="/style.css")
    script.
      function submit_form()
      {
        document.getElementById('form').submit()
      }
    form(method='POST',action='/',id="form")
      table
          tr
              each val, index in matrix.headers
                  th(width="120")= val
              th
          each val, index in matrix.body
              tr
                  each val2, index in val
                    if val2.form
                      td
                        input(type='text', value=val2.value, name=val2.form, class=val2.error ? 'error' : 'plain')
                        input(type='hidden', value=val2.value, name='_'+val2.form)
                    else
                      if index==0
                        td(class='key')=val2.value
                      else 
                        td= val2.value
                  td
      //input(type='button' onclick="submit_form()")
      input(type='submit', style="display:none")
    form(method='POST',action='/lock_plan')
      input(type='hidden', name='group_plan_id' value=group_plan_id)
      input(type='submit', value="lock")
    br
    a(href='/logout') logout
    div=user
    if is_admin
      a(href='/admin') admin page