html
  head
    title MB-input
  body
    link(rel="stylesheet",type="text/css",href="/style.css")
    script.
      function submit_form()
      {
        document.getElementById('form').submit()
      }
    header(class=is_locked ? 'locked' : '')
      div(class='login_info')
        b=user+' '
        a(href='/logout') logout
        br
        if is_admin
        a(href='/admin') admin page
      if is_locked
        form(method='POST',action='/unlock_plan')
          input(type='hidden', name='group_plan_id' value=group_plan_id)
          input(type='submit', value="unlock")
      else
        form(method='POST',action='/lock_plan')
          input(type='hidden', name='group_plan_id' value=group_plan_id)
          input(type='submit', value="lock")
      h1=group_plan_name
      a(href='/plans/') Plan view
      div(class='end')
    form(method='POST',action='/plans/'+group_plan_id,id="form")
      table(class='input')
          tr
              each val, index in matrix.headers
                  th(width="120")= val
              th
          each val, index in matrix.body
              tr
                  each val2, index in val
                    if val2.form
                      td
                        input(type='text', value=val2.value, name=val2.form, class=val2.error ? 'error' : 'plain')
                        input(type='hidden', value=val2.value, name='_'+val2.form)
                    else
                      if index==0
                        td(class='key')=val2.value
                      else 
                        td 
                          input(type='text', value=val2.value, name=val2.form, disabled='')
                  td
      //input(type='button' onclick="submit_form()")
      input(type='submit', style="display:none")
    
