html
    head
        link(rel="stylesheet",type="text/css",href="/style.css")
        link(rel="stylesheet",type="text/css",href="/style2.css")
        title plan
    body
        include include/head.pug

        form(method='POST', action='/plans/'+plan_id)    
            input(type='hidden', value='PUT', name='_method')
            table(class="plan")
                tr(class="header")
                    td
                    td

                    th JAN
                    th FEB
                    th MAR
                    th APR
                    th MAY
                    th JUN
                    th JUL
                    th AUG
                    th SEP
                    th OCT
                    th NOV
                    th DEC

                each val in data
                    if val['level']==2
                        tr(class="space")
                            th
                            td(colspan=13)
                    
                    tr(class='level'+val['level']+' row', data-parent=val['level']==6 ? val['parent_id'] : false)
                    
                        if val['level']==0
                            th(colspan="2")=val['name']
                        else if val['level']==4
                            th(class="void")
                            th
                                a(onclick='show_hide('+val['id']+',this)', data-is_open="0" href="#")='[+]'
                                =' '+val['name']
                        else
                            th(class="void")
                            th=val['name']
                        if val['level']!=6
                            td=val['JAN']!==null ? val['JAN'] : 0                       
                            td=val['FEB']!==null ? val['FEB'] : 0 
                            td=val['MAR']!==null ? val['MAR'] : 0 
                            td=val['APR']!==null ? val['APR'] : 0 
                            td=val['MAY']!==null ? val['MAY'] : 0 
                            td=val['JUN']!==null ? val['JUN'] : 0 
                            td=val['JUL']!==null ? val['JUL'] : 0 
                            td=val['AUG']!==null ? val['AUG'] : 0 
                            td=val['SEP']!==null ? val['SEP'] : 0 
                            td=val['OCT']!==null ? val['OCT'] : 0 
                            td=val['NOV']!==null ? val['NOV'] : 0 
                            td=val['DEC']!==null ? val['DEC'] : 0 
                        else 
                            td
                                input(value=val['JAN'], type='hidden', name='_'+val['id']+';JAN')
                                input(value=val['JAN'], type='text', name=val['id']+';JAN',disabled=disable_form)
                            td
                                input(value=val['FEB'], type='hidden', name='_'+val['id']+';FEB')
                                input(value=val['FEB'], type='text', name=val['id']+';FEB',disabled=disable_form)
                            td
                                input(value=val['MAR'], type='hidden', name='_'+val['id']+';MAR')
                                input(value=val['MAR'], type='text', name=val['id']+';MAR',disabled=disable_form)
                            td
                                input(value=val['APR'], type='hidden', name='_'+val['id']+';APR')
                                input(value=val['APR'], type='text', name=val['id']+';APR',disabled=disable_form)
                            td
                                input(value=val['MAY'], type='hidden', name='_'+val['id']+';MAY')
                                input(value=val['MAY'], type='text', name=val['id']+';MAY',disabled=disable_form)
                            td
                                input(value=val['JUN'], type='hidden', name='_'+val['id']+';JUN')
                                input(value=val['JUN'], type='text', name=val['id']+';JUN',disabled=disable_form)
                            td
                                input(value=val['JUL'], type='hidden', name='_'+val['id']+';JUL')
                                input(value=val['JUL'], type='text', name=val['id']+';JUL',disabled=disable_form)
                            td
                                input(value=val['AUG'], type='hidden', name='_'+val['id']+';AUG')
                                input(value=val['AUG'], type='text', name=val['id']+';AUG',disabled=disable_form)
                            td
                                input(value=val['SEP'], type='hidden', name='_'+val['id']+';SEP')
                                input(value=val['SEP'], type='text', name=val['id']+';SEP',disabled=disable_form)
                            td
                                input(value=val['OCT'], type='hidden', name='_'+val['id']+';OCT')
                                input(value=val['OCT'], type='text', name=val['id']+';OCT',disabled=disable_form)
                            td
                                input(value=val['NOV'], type='hidden', name='_'+val['id']+';NOV')
                                input(value=val['NOV'], type='text', name=val['id']+';NOV',disabled=disable_form)
                            td
                                input(value=val['DEC'], type='hidden', name='_'+val['id']+';DEC')
                                input(value=val['DEC'], type='text', name=val['id']+';DEC',disabled=disable_form)
                tr(class="space")
                    th
                    td(colspan=13)

            if disable_form==false
                input(type='submit')

        script.
            function show_hide(o,t)
            {
                t.dataset['is_open'] = t.dataset['is_open'] === "0" ? "1" : "0"
                if(t.dataset['is_open']==="0") t.innerHTML = '[+]';
                else t.innerHTML = '[-]';
                var tr = document.getElementsByTagName('tr');

                for(var i = 0; i < tr.length; i++)
                {
                    if(tr[i].dataset['parent'] == o)
                    {
                        tr[i].style.display = t.dataset['is_open']==="0" ? 'none' : 'table-row';
                    }
                }                
            }