header(class=header.is_locked ? 'locked' : '')
 div(class='login_info')
  b=header.user+' '
  a(href='/logout') logout
  if header.is_admin
   br
   a(href='/admin') admin page
  if header.hide_plan_view_link==undefined
    br
    a(href='/plans/') Plan view

 if header.plan_id
  if header.is_locked
   form(method='POST',action='/unlock_plan')
    input(type='hidden', name='plan_id' value=header.plan_id)
    input(type='submit', value="unlock")
  else
   form(method='POST',action='/lock_plan')
    input(type='hidden', name='plan_id' value=header.plan_id)
    input(type='submit', value="lock")
 //h1=group_plan_name
 h1=header.title
 div(class='end')
